.logo-icon {
  height: 161.1px;
  width: 169px;
  position: relative;
  object-fit: cover;
}
.blog,
.contact,
.home,
.store {
  position: relative;
  font-weight: 600;
}
.home-instance,
.navigation-bar {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}
.navigation-bar {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-30xl) var(--padding-4xl) var(--padding-31xl);
  gap: var(--gap-xl);
}
.home-instance {
  width: 523px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
.join-bg {
  align-self: stretch;
  height: 30px;
  position: relative;
  background-color: var(--color-black);
}
.join-us {
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
  margin: -40px 0 0;
}
.join-us-button,
.join-us-button-instance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.join-us-button {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lg)
    var(--padding-3xl);
}
.join-us-button-instance {
  height: -20px;
  width: 200px;
  align-items: flex-start;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.nav-bar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-16xl) 77px var(--padding-12xl) var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.page-1-image {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.5px;
  bottom: 0;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.page-1-rec {
  align-self: stretch;
  height: 278px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.64);
  z-index: 1;
}
.build-with-us,
.we-build-the {
  margin: 0;
}
.page-1-text-container {
  margin: 0;
  height: 164px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.header-frame,
.product-menu-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product-menu-item {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  margin-top: -197px;
}
.header-frame {
  width: 847px;
  flex-direction: column;
  min-height: 278px;
}
.page-1-text {
  height: 10px;
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  font-family: var(--font-league-spartan);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.page-1-black-rec {
  height: 45px;
  width: 831px;
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: -376px;
  background-color: rgba(0, 0, 0, 0.28);
  z-index: 1;
}
.kala-coach-icon {
  height: 38px;
  width: 131px;
  object-fit: cover;
  z-index: 2;
}
.integrations-menu-item,
.kala-coach-icon {
  position: relative;
}
.integrations-menu-item,
.popup-builder-menu-item,
.webdesign-menu-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.webdesign-menu-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.popup-builder-menu-item {
  padding: 0 0 0 var(--padding-2xl);
}
.explore-bg {
  height: 70px;
  width: 185px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -1px;
  background-color: var(--color-blanchedalmond);
}
.explore {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.explore-arrow-icon {
  bottom: 5px;
  width: 29px;
  height: 11px;
  position: relative;
  z-index: 1;
}
.store-page-nav-item {
  height: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.explore-botton,
.navigation-bar-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.explore-botton {
  cursor: pointer;
  border: 0;
  padding: 19px var(--padding-2xl) var(--padding-3xl) var(--padding-3xl);
  background-color: var(--color-blanchedalmond);
  overflow: hidden;
  align-items: center;
  position: relative;
  gap: 22px;
  z-index: 1;
}
.navigation-bar-frame {
  align-items: flex-start;
  padding: 0 var(--padding-mini) 0 0;
}
.frame-parent,
.pot-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pot-image {
  width: 1187px;
  padding: 155px var(--padding-xl) var(--padding-39xl) var(--padding-17xl);
  position: relative;
  gap: 23px;
}
.frame-parent {
  width: 1299px;
  padding: 0 var(--padding-xl) var(--padding-27xl);
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-league-spartan);
}
.what-we-believe {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.what-we-believe-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.building-trust-growing,
.promoting-our-culture {
  margin: 0;
}
.building-trust-growing-container {
  margin: 0;
  height: 146px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.blog-page-nav-item,
.building-trust-growing-togeth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
.blog-page-nav-item {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 52px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.the-real-kalakars1 {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.landing-page-popup-builder-tex,
.the-real-kalakars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.landing-page-popup-builder-tex {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.in-their-success,
.kala-coach-would,
.kalakars-we-invite,
.our-very-hardworking {
  margin: 0;
}
.kala-coach-would-container {
  margin: 0;
  height: 132px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.kala-coach-would-like-to-appre {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  max-width: 100%;
}
.landing-page-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-19xl);
  box-sizing: border-box;
  max-width: 100%;
}
.view-more-button-child {
  display: flex;
  position: absolute;
  top: -3px;
  left: -1px;
  background-color: #fce5b9;
  width: 180px;
  height: 60px;
}
.view-more {
  position: absolute;
  top: 13px;
  left: 30px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.view-more-button {
  top: 21px;
  left: 40px;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-white);
  width: 162px;
  height: 49px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  white-space: nowrap;
}
.view-more-button:hover {
  background-color: var(--color-gainsboro-200);
}
.product-text {
  align-self: stretch;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-6xl);
}
.about-us-frame,
.integrated-motive-text,
.product-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.integrated-motive-text {
  width: 504px;
  flex-direction: column;
  gap: var(--gap-26xl);
}
.about-us-frame {
  width: 1102px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 202px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.store2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.store1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child {
  align-self: stretch;
  height: 370px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.cloth-button {
  height: 65px;
  width: 195px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  left: -50px;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.buy-now {
  height: 36px;
  left: -0px;
  bottom: 10px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-katibeh);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.cloth-button-parent {
  left: -40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.button-1,
.component-parent {
  display: flex;
  flex-direction: column;
}
.button-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-23xl) var(--padding-xl)
    var(--padding-31xl);
  background-color: var(--color-gray-400);
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  margin-top: -97px;
}
.component-parent {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.view-all1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.view-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-frame-frame-rectangle,
.view-all-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-lg);
}
.frame-frame-frame-rectangle {
  align-self: stretch;
  width: 268px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.frame-item {
  align-self: stretch;
  height: 380px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}
.cloth-button1 {
  height: 65px;
  width: 195px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  left: -83px;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.buy-now1 {
  left: -28px;
  bottom: 10px;
  height: 36px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-katibeh);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.cloth-button-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.button-3,
.component-group {
  display: flex;
  flex-direction: column;
}
.button-3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-23xl) var(--padding-xl)
    var(--padding-31xl);
  background-color: var(--color-gray-400);
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  margin-top: -97px;
}
.component-group {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.view-all3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.view-all-container,
.view-all2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-all-container {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.frame-frame-frame-rectangle1 {
  align-self: stretch;
  width: 258px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.image-2-icon {
  border-radius: 25px;
  align-self: stretch;
  height: 370px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.cloth-button2 {
  height: 65px;
  width: 195px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  left: -90px;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.buy-now2 {
  height: 36px;
  left:-40px;
  bottom: 10px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-katibeh);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.cloth-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.button-2,
.image-2-parent {
  display: flex;
  flex-direction: column;
}
.button-2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-23xl) var(--padding-xl)
    var(--padding-31xl);
  background-color: var(--color-gray-400);
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  margin-top: -97px;
}
.image-2-parent {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.view-all5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.view-all-frame,
.view-all4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-all-frame {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.frame-frame-frame-rectangle2 {
  align-self: stretch;
  width: 278px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.image-5-icon {
  border-radius: 20px;
  align-self: stretch;
  height: 370px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.cloth-button3 {
  height: 65px;
  width: 195px;
  position: absolute;
  margin: 0 !important;
  top: -20px;
  left: -80px;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray-300);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}
.buy-now3 {
  left: -30px;
  bottom: 10px;
  height: 36px;
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-katibeh);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.button-4,
.image-5-parent {
  display: flex;
  flex-direction: column;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-23xl) var(--padding-xl)
    var(--padding-31xl);
  background-color: var(--color-gray-400);
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  margin-top: -97px;
}
.image-5-parent {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.view-all7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.view-all-wrapper1,
.view-all6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-all-wrapper1 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.frame-frame-frame-rectangle3 {
  align-self: stretch;
  width: 258px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.frame-frame-frame-rectangle-parent {
  width: 1212px;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-31xl);
  color: var(--color-black);
}
.frame-frame-frame-rectangle-parent,
.k-crafters-frame,
.store-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.store-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-71xl);
}
.k-crafters-frame {
  height: 543px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-20xl) 0 0;
  box-sizing: border-box;
}
.products {
  height: 48px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}

.crafters {
  height: 48px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}

.rectangle-separator {
  height: 145px;
  width: 340px;
  position: absolute;
  margin: 0 !important;
  top: -49px;
  left: calc(50% - 170px);
  border-radius: var(--br-16xl);
  background-color: var(--color-moccasin-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px);
  z-index: 1;
}

.rectangle-separator1 {
  height: 145px;
  width: 340px;
  position: absolute;
  margin: 0 !important;
  top: -49px;
  left: calc(70% - 210px);
  border-radius: var(--br-16xl);
  background-color: var(--color-moccasin-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px);
  z-index: 1;
}

.k-crafters {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.k-crafters1 {
  margin: 0;
  height: 48px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.landing-page-popup-builder-child {
  height: 145px;
  width: 340px;
  position: absolute;
  margin: 0 !important;
  top: -49px;
  left: -38px;
  border-radius: var(--br-16xl);
  z-index: 1;
}
.landing-page-popup-builder,
.menufootervert {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.landing-page-popup-builder {
  flex-direction: row;
  position: relative;
}
.menufootervert {
  flex-direction: column;
  padding: 0 var(--padding-mini) 0 0;
}
.k-customers {
  height: 48px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.k-crafters-child {
  height: 145px;
  width: 402px;
  position: absolute;
  margin: 0 !important;
  top: -50px;
  right: -31px;
  border-radius: var(--br-16xl);
  background-color: var(--color-moccasin-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.5px);
  z-index: 1;
}
.footer-menu,
.k-crafters2,
.page-3-info {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.k-crafters2 {
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.footer-menu,
.page-3-info {
  box-sizing: border-box;
}
.page-3-info {
  flex: 1;
  overflow: hidden;
  align-items: flex-end;
  justify-content: space-between;
  padding: 97px 134px 104px 106px;
  gap: var(--gap-xl);
}
.footer-menu {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 40px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.about-us1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.about-us,
.integrations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.integrations {
  width: 152px;
  align-items: flex-start;
  justify-content: flex-end;
}
.the-main-motive {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.the-main-motive-of-us-is-to-pr {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.content,
.products-and-customers,
.webdesign {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  width: 980px;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-71xl);
}
.products-and-customers,
.webdesign {
  width: 1059px;
  flex-direction: row;
  align-items: flex-start;
}
.products-and-customers {
  width: 1403px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-71xl);
  max-width: 101%;
  flex-shrink: 0;
}
.page-info-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 596px var(--padding-27xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.contact-us1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;

}
.connectwith-us,
.contact-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.connectwith-us {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-xl);
}
.desktop-12-child,
.desktop-12-item {
  position: absolute;
  margin: 0 !important;
}
.desktop-12-child {
  display: flex;
  width: 1850px;
  height: 240px;
  bottom: -30px;
  left: -372px;
  z-index: 1;
}
.desktop-12-item {
  display: flex;
  width: 2200px;
  height: 322px;
  right: -664px;
  bottom: -80px;
  z-index: 2;
}
.product-child {
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
}
.kalacoach-can-be,
.learn-more1 {
  bottom: -200px;
  position: relative;
  display: inline-block;
  z-index: 3;
}
.learn-more1 {
  bottom: -50%;
  margin: 0px;
  height: 42px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
  white-space: nowrap;
}
.kalacoach-can-be {
  display: flex;
  bottom: -9 0px;
  width: 438px;
  height: 63px;
  font-size: var(--font-size-lg);
  max-width: 100%;
}
.learn-more {
  bottom: 400px;
  position: absolute;
  top: 146px;
  left: 98px;
  background-color: transparent;
  width: 549px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px var(--padding-28xl);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-17xl);
}
.get-started {
  bottom: -1px;
  width: 145px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  z-index: 3;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--color-black);
  position: absolute;
  top: 550px;
  left: 135px;
  border-radius: var(--br-11xl);
  width: 203px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.button:hover {
  background-color: var(--color-darkslategray);
}
.connect-with-us1 {
  bottom: -180px;
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.madhavkalacoachgmailcom {
  bottom: -170px;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.kalacoach {
  bottom: -170px;
  position: relative;
}
.contact-us-info {
  bottom: -170px;
  white-space: nowrap;
}
.contact-us-info,
.kalacoach-headquarters-rajpur {
  position: relative;
  bottom: -170px;
}
.kala-coach-h-q {
  gap: 14px;
}
.company-headquarters,
.connect-with-us,
.kala-coach-h-q {
  bottom: -100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-headquarters {
  padding: 0 var(--padding-12xs) 0 0;
  gap: 19px;
  font-size: var(--font-size-sm);
  z-index: 3;
  bottom: -110px;
}
.connect-with-us {
  position: absolute;
  top: 165px;
  left: 1085px;
  overflow: hidden;
  padding: 34px var(--padding-30xl) var(--padding-20xl) var(--padding-mini);
  gap: var(--gap-10xl);
  z-index: 3;
  font-size: var(--font-size-xl);
}
.product1 {
  width: 99px;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.content1,
.integrations1,
.landing-page,
.popup-builder,
.product1,
.web-design {
  position: relative;
}
.integrations1 {
  width: 0;
  flex: 1;
  color: var(--color-white);
  display: inline-block;
}
.menufootervert1,
.webdesign1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.webdesign1 {
  flex: 1;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.menufootervert1 {
  position: absolute;
  top: 378px;
  left: 895px;
  width: 180px;
  height: 197px;
  gap: var(--gap-13xl);
  z-index: 3;
}
.product2 {
  bottom: -180px;
  width: 94px;
  display: inline-block;
  padding-right: var(--padding-xl);
}
.content2,
.integrations2,
.landing-page1,
.popup-builder1,
.product2,
.web-design1 {
  bottom: -180px;
  position: relative;
}
.integrations2 {
  width: 0;
  flex: 1;
  color: var(--color-white);
  display: inline-block;
}
.landing-page-parent,
.menufootervert11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.landing-page-parent {
  flex: 1;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.menufootervert11 {
  position: absolute;
  top: 197px;
  left: 698px;
  width: 180px;
  height: 197px;
  gap: var(--gap-13xl);
  z-index: 1;
}
.product {
  height: 1000px;
  width: 1480px;
  position: relative;
  max-width: 102%;
  flex-shrink: 0;
}
.product-landing-page-popup-bui {
  width: 1454px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 101%;
  flex-shrink: 0;
}
.desktop-12,
.menu-footer-vert-components {
  display: flex;
  box-sizing: border-box;
  text-align: left;
}
.menu-footer-vert-components {
  align-self: stretch;
  height: 755px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.desktop-12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-19xl) 0 0;
  gap: var(--gap-111xl);
  letter-spacing: normal;
  font-size: var(--font-size-xl);
  color: white;
  font-family: var(--font-inter);
}
@media screen and (max-width: 1250px) {
  .page-3-info {
    flex-wrap: wrap;
    padding-left: 53px;
    padding-right: 67px;
    box-sizing: border-box;
  }
  .page-info-frame {
    padding-bottom: 387px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .nav-bar {
    flex-wrap: wrap;
  }
  .frame-parent {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-71xl);
  }
  .page-info-frame {
    padding-bottom: 252px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .page-1-text-container {
    font-size: var(--font-size-21xl);
  }
  .page-1-text {
    font-size: var(--font-size-13xl);
  }
  .pot-image {
    padding-top: 101px;
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .building-trust-growing-container {
    font-size: 48px;
  }
  .the-real-kalakars1 {
    font-size: var(--font-size-13xl);
  }
  .integrated-motive-text {
    gap: var(--gap-26xl);
  }
  .about-us-frame {
    padding-bottom: 131px;
    box-sizing: border-box;
  }
  .buy-now,
  .buy-now1,
  .buy-now2,
  .buy-now3 {
    font-size: var(--font-size-5xl);
  }
  .frame-frame-frame-rectangle-parent {
    gap: var(--gap-31xl);
  }
  .store-parent {
    gap: var(--gap-71xl);
  }
  .k-crafters1,
  .k-customers,
  .products {
    font-size: var(--font-size-13xl);
  }
  .page-3-info {
    padding-left: 26px;
    padding-right: 33px;
    box-sizing: border-box;
  }
  .the-main-motive {
    font-size: var(--font-size-13xl);
  }
  .content,
  .products-and-customers {
    gap: var(--gap-71xl);
  }
  .page-info-frame {
    padding-left: var(--padding-4xl);
    padding-bottom: 164px;
    box-sizing: border-box;
  }
  .learn-more1 {
    font-size: var(--font-size-10xl);
  }
  .desktop-12 {
    gap: var(--gap-111xl);
  }
}
@media screen and (max-width: 450px) {
  .join-us {
    font-size: var(--font-size-base);
  }
  .page-1-text,
  .page-1-text-container {
    font-size: var(--font-size-5xl);
  }
  .frame-parent {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .what-we-believe {
    font-size: var(--font-size-base);
  }
  .building-trust-growing-container {
    font-size: var(--font-size-17xl);
  }
  .the-real-kalakars1 {
    font-size: var(--font-size-5xl);
  }
  .kala-coach-would-container {
    font-size: var(--font-size-xl);
  }
  .store2 {
    font-size: var(--font-size-base);
  }
  .buy-now {
    font-size: var(--font-size-lg);
  }
  .view-all1 {
    font-size: var(--font-size-base);
  }
  .buy-now1 {
    font-size: var(--font-size-lg);
  }
  .view-all3 {
    font-size: var(--font-size-base);
  }
  .buy-now2 {
    font-size: var(--font-size-lg);
  }
  .view-all5 {
    font-size: var(--font-size-base);
  }
  .buy-now3 {
    font-size: var(--font-size-lg);
  }
  .view-all7 {
    font-size: var(--font-size-base);
  }
  .store-parent {
    gap: var(--gap-71xl);
  }
  .k-crafters1,
  .k-customers,
  .products {
    font-size: var(--font-size-5xl);
  }
  .about-us1 {
    font-size: var(--font-size-base);
  }
  .the-main-motive {
    font-size: var(--font-size-5xl);
  }
  .products-and-customers {
    gap: var(--gap-71xl);
  }
  .contact-us1 {
    font-size: var(--font-size-base);
  }
  .learn-more1 {
    font-size: var(--font-size-3xl);
  }
  .connect-with-us1 {
    font-size: var(--font-size-base);
  }
  .desktop-12 {
    gap: var(--gap-111xl);
  }
}


.nav-bar {
  background-color: white;
}


